@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Sistema de Gerenciamento de Usuarios</h1>
    <p>Desenvolvido por <a href="https://linkedin.com/in/daniel-oliveira-2492b4164">Daniel Oliveira</a>.</p>
</div>
